<% if logged_in? %>
      <% @tasks.each do |task| %>
        <div><%= task.user.name %>posted at <%= task.created_at %></div>
        <div><p>タスク：<%= task.content %><br>ステータス：<%= task.status %></p></div>  
      <% if current_user == task.user %>
       <div><%= link_to "詳細を見る", task %></div>
      <% end %>
     <% end %>
   
  <%= link_to "新規登録ページ", new_task_path %>
  <%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
<% else %>
      <h1>タスク管理ツール</h1>
      <%= link_to 'ログイン', login_path %> 
<% end %>