<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>id: <%= @task.id %> 詳細ページ</h1>
    <p><%= @task.content %></p>

    <%= link_to '一覧に戻る', tasks_path %>
    <%= link_to 'この内容を編集する', edit_task_path(@task) %>
  </body>
</html>
