   <h1>タスクアプリ</h1>
    
  <ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %><%= task.status %></li>
  <% end %>
  </ul>
  <%= link_to '新規内容の投稿', new_task_path %>

<%=form_with(models: @user, local: true) do |f| %> 
  <%=render 'layouts/error_messages', model: f.object %>